@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
  }
  &__btn{
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}


.rightside-menu{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 751px;
  width: 100%;
  background-color: #000;
  transition: all .6s;
  z-index: 5;
  &.rightside-menu--close{
    transform: translateX(500%);
  }
  &__close{
    margin-top: 20px;
    margin-left: 84px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__content{
    padding-left: 80px;
  }
  &__social{
    margin-top: 130px;
    display: flex;
    width: 190px;
    justify-content: space-between;
  }
}

.menu{
  margin-top: 60px;
  &__list-item{
    margin-bottom: 40px;
  }
  &__list-link{
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.3);
    &:hover{
      color: $white-color;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 172px;
        height: 1px;
        top: 27px;
        left: 0;
        bottom: 0;
        background-color: #fff;
      }
    }
  }
}

.rightside-menu__btn{
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
  &-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 24px 20px 30px;
  }
  &-link{
    font-size: 16px;
    line-height: 20px;
    color: $white-color;
    margin-right: 72px;
  }
}

.aplication{
  background-image: url(../images/aplication-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin-top: -75px;
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
  }
  &__title{
    text-transform: uppercase;
    font-size: 74px;
    line-height: 90px;
    font-weight: 400;
    margin: 20px;
  }
  &__text{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }
  &__btn{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000;
    padding: 20px 24px 20px 30px;
  }
  &__btn--content{
    display: flex;
  }
  &__btn--text{
    font-size: 16px;
    line-height: 20px;
    margin-right: 44px;
  }
}

.about{
  height: 100vh;
  &__inner{
    display: flex;
  }
  &__image{
    height: 100vh;
    width: 960px;
  }
  &__content{
    width: 960px;
    background-color: #f1f1f1;
  }
  &__title{
    font-size: 48px;
    line-height: 58px;
    margin-top: 275px;
    margin-left: 296px;
    margin-bottom: 60px;
  }
  &__text{
    max-width: 500px;
    font-size: 16px;
    line-height: 24px;
    color: $gray-color;
    text-align: right;
    margin-left: 107px;
  }
  &__text + .about__text{
    margin-top: 40px;
  }
}

.portfolio{
  height: 100vh;
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__title{
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 48px;
    line-height: 58px;
  }
  &__image{
    width: 800px;
    height: auto;
  }
  &__btn{
    position: absolute;
    top: 380px;
    left: 793px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000;
    padding: 20px 24px 20px 30px;
  }
  &__btn--content{
    display: flex;
    justify-content: center;
  }
  &__btn--text{
    margin-right: 19px;
    font-size: 16px;
    height: 19px;
  }
}

.offer{
  height: 100vh;
  background-color: #1A1F25;
  text-align: center;
  color: #fff;
  &__title{
    font-size: 48px;
    line-height: 58px;
    padding-top: 90px;
    margin-bottom: 80px;
  }
  &__items{
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-columns: repeat(5, 245px);
    grid-auto-rows: 210px;
    align-items: center;
    justify-content: center;

  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:nth-last-child(n+6){
      border-bottom: 1px solid #595959;
    }
  }
  &__item--lb{
    border-left: 1px solid #595959;
  }
  &__item-text{
    max-width: 203px;
  }
  &__img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  &__item-btn{
    background-color: transparent;
    border: 1px solid #fff;
  }
  &__item--content{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
  }
  &__item--text{
    margin-right: 18px;
  }
}

.benefits{
  height: 100vh;
  background-image: url(../images/benefits-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  &__title{
    padding-top: 336px;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 90px;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    max-width: 500px;
    display: flex;

    &:nth-child(even){
      margin-left: 112px;
    }
    &:nth-child(-n+2){
      margin-bottom: 60px;
    }
  }
  &__img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}

.spec-offer{
  height: 100vh;
  &__inner{
    display: flex;
  }
  &__title{
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    margin-bottom: 100px;
  }
  &__input{
    height: 100vh;
    width: 50%;
    background-image: url(../images/specoffer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 173px 73px 0 353px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    width: 510px;
    padding-right: 20px;
  }
  &__label{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-bottom: 40px;
  }
  &__form-name,
  &__form-email,
  &__form-message{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
  }
  &__form-message{
    resize: none;
    height: 100px;
  }
  &__form-btn{
    background-color: transparent;
    height: 55px;
    width: 194px;
    position: relative;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
  }
  &__form-arrow{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__content{
    background-color: #000201;
    width: 50%;
    height: 100vh;
    padding: 173px 353px 286px 0;
  }
  &__content-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    margin-bottom: 138px;
    margin-left: 135px;
    white-space: nowrap;
  }
  &__content-items{
    display: flex;
    margin-left: 30px;
  }
  &__content-item{
    color: #fff;
    min-width: 194px;
    min-height: 284px;
    border: 1px solid #fff;
    padding: 59px 37px 30px 15px;
    display: flex;
    flex-direction: column;
    background: #000;
    position: relative;
    transition: all .7s;
    &::before{
      content: '';
      position: absolute;
      width: 78px;
      height: 78px;
      border-radius: 50%;
      top: -40px;
      right: 58px;
      border: 1px solid #fff;
      background-color: #000;
      z-index: 5;
    }
    &::after{
      content: '';
      position: absolute;
      width: 79px;
      height: 41px;
      top: -42px;
      right: 58px;
      background-color: #000;
      z-index: 6;
    }
    &:hover{
      background-image: url(../images/gradient-hover.svg);
    }
  }
  &__content-item+.spec-offer__content-item{
    margin-left: 10px;
  }
  &__content-item--title{
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__content-item--text{
    font-size: 16px;
    line-height: 19px;
    color: #E8E8E8;

  }
  &__content-cost{
    margin-top: auto;
  }
  &__content-cost--last{
    font-size: 14px;
    line-height: 17px;
    text-decoration: line-through;
    margin-bottom: 6px;
  }
  &__content-cost--now{
    font-size: 24px;
    line-height: 29px;
  }
}
